<div class="control has-icons-left has-icons-right"
    data-controller="lunr"
    data-lunr-url="/lunr-index.json">
  <input data-action="input->lunr#showResults" data-target="lunr.input" class="input is-rounded" type="text" name="q" placeholder="Search...">
  <span class="icon is-small is-left">
    <i class="fa fa-search"></i>
  </span>

  <div class="lunr-list" data-target="lunr.list">
    <!-- <a class="p-1">
      <h5 class="title is-5">headline</h5>
      <h6 class="subtitle is-6 mb-1">subheadline</h6>
      <p class="">truncated description</p>
    </a> -->
  </div>
</div>
