@import "github-md";
@import '~bulma/bulma';

// @import '~font-awesome/scss/font-awesome';

.table-of-content {
  font-size: 0.875rem;
}

.has-background-image {
  position: relative;
  width: 100%;
  // background-image: url("/images/backgrounds/lacanau-view.jpg") !important;
  background-size: cover;
}

.has-background-image::before {
  position: absolute;
  top: 0;
  right: 0;
  background: #020228;
  bottom: 0;
  left: 0;
  // background-image: url("/images/backgrounds/lacanau-view.jpg");
  // background-size: cover;
  opacity: 0.6;
  content: "";
}

.lunr-list {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 550px;
  right: 0;
  border: 1px solid #efefef;
  padding: 1rem;
  margin-top: 8px;
  color: black;
  text-align: left;
}
.lunr-list.is-active {
  display: flex;
  flex-direction: column;
}
.lunr-list .lunr-item {
  border-top: 1px solid #efefef;
}
.lunr-item .title,
.lunr-item .subtitle {
  color: black !important;
}
